
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* =============================================================================
	(11) Section for Typography (including Heading or Header) // only for website
	- header color theme, font type and style
	- header spacing and margins (including those in ul/ol)
	- tags pill
	- internal link formatting
==============================================================================*/
	body {
		--h1-font: Courgette;
		--h2-font: Courgette;
		--h3-font: 'Karla', 'Inter';
		--h4-font: 'Karla', 'Inter';
		--default-font: 'Inter';
		--font-text-theme: 'Inter';
		--font-text-theme: 'Lexend';

		--keyheader-font: 'Open Sans'; /* Delius */
		/* these are obsidian app.css variables */

		--h1-size: 1.60em;
		--h2-size: 1.48em;
		--h3-size: 1.36em; /* calc(1.36 * var(--font-text-size) ); /* 1.36rem; */
		--h4-size: 1.12em; /* 1.12rem; /* if using Delius, 1.08rem */
		--h5-size: 1.00em; /* calc(1.00 * var(--font-text-size) ); /* 1.00rem; */
		--h6-size: 1.00em; /* calc(1.00 * var(--font-text-size) ); /* 1.00rem; */

		--h1-weight: 600;
		--h2-weight: 600;
		--h3-weight: 600;
		--h4-weight: 600;
		--h5-weight: 600;
		--h6-weight: 600;

		--h2-line-height: 1.1em;
		--h3-line-height: 1.2em;
		--h4-line-height: 1.25em;
		--h5-line-height: 1.25em;

		/* my own custom variables */
		--h1-border-width: 1px;
		--h2-border-width: 1px;
		--h3-border-width: 0px;
	}

	.theme-light {
		--h1-color: #224244; /* #bccad6 #DDD */
		--h1-color: hsl(217, 22%, 30%);
		--h2-color: #4e687e; /* shade of #55A6AD. #8d9db6 #AAA 00bdbd */
		--h2-color: hsl(217, 22%, 40%);
		--h3-color: #8d9db6; /* #667292 #2DC1C1 00a3a3 */
		--h3-color: hsl(217, 22%, 50%);
		--h4-color: #8e6d0b; /* #fbefcc AntiqueWhite */
		--h4-color: hsl(45, 45%, 40%);
		--h5-color: #8f410a; /* #f9ccac */
		--h5-color: hsl(45, 45%, 30%);
		--h6-color: #8c310d; /* #f4a688 */
		--h6-color: hsl(45, 45%, 20%);
		--text-selection: DarkGray;
	}
	.theme-dark {
		/* my custom variables */
		/* using https://color.adobe.com/create/color-wheel, Complementary (with #F9CCAC as Base) */
		--h1-color: hsl(217, 22%, 90%);
		--h2-color: hsl(217, 22%, 80%);
		--h3-color: hsl(217, 22%, 70%);
		--h4-color: hsl(45, 45%, 85%);
		--h5-color: hsl(45, 45%, 75%);
		--h6-color: hsl(45, 45%, 65%);
		--text-selection: rgba(30, 144, 255, 0.4); /* #3333ff; */
	}


	/* === Margin, Padding and Line Height === */
		/* for list's margin/padding go to (12) Section for Content Core Customisation */


		/* -- for Normal Heading / Header -- */
		body {
			--h2-top-spacing: 1.4rem;
			--h2-bottom-spacing: 0.3rem;
			--heading-spacing: var(--h2-top-spacing);	/* override obsidian 1.3.7 introduction of top margin */
			--h2-top-spacing-edit: calc(var(--h2-top-spacing) + var(--list-spacing) + var(--list-spacing)/2 );
			--h2-bottom-spacing-edit: var(--h2-bottom-spacing);

			--h4-bottom-spacing: 0.1rem;
		}
		/* -- margin/padding for normal header (not for header in list) - Reading View only */
		:is(*, .markdown-rendered) :not(li) :is(h1, h2, h3) { margin-block: var(--h2-top-spacing) var(--h2-bottom-spacing);}
		:is(*, .markdown-rendered) :not(li) :is(h4, h5, h6) { margin-bottom: var(--h4-bottom-spacing); }


		/* -- For List Heading / Headers -- */
		body ul {
			--h2-top-spacing: 0.4rem;
			--h2-bottom-spacing: 0.3rem;
			--h2-top-spacing-edit: calc(var(--h2-top-spacing) + var(--list-spacing) + var(--list-spacing)/2 );
			--h2-bottom-spacing-edit: var(--h2-bottom-spacing);

			--h3-top-spacing: 0.2rem;
			--h3-bottom-spacing: 0.2rem;
			--h3-top-spacing-edit: calc( var(--h3-top-spacing) + var(--list-spacing) );
			--h3-bottom-spacing-edit: var(--h3-bottom-spacing);
		}
		:is(*, .markdown-rendered) :is(ul h1, ul h2) { margin-top: var(--h2-top-spacing); margin-bottom: var(--h2-bottom-spacing); }
		:is(*, .markdown-rendered) ul h3 { margin-top: var(--h3-top-spacing); margin-bottom: var(--h3-bottom-spacing); }

		/* -- For Normal Heading padding between header text and bottom border. Editing View and Reading View. Normal header and header in list */
		.markdown-rendered h1, .markdown-rendered h2 { padding-bottom: 0.1rem; } /* for distancing the border bottom */

		/* -- margin for header in backlinks */
		.embedded-backlinks .markdown-rendered ul h2 {margin-block: 0rem 0.3rem;}
		.markdown-rendered li h6 {margin-top: 0; margin-bottom: 0;}

		/* -- margin (reduce) when header is collapsed -- */
		/* .markdown-preview-section > div.is-collapsed + div:has(> [data-heading]) :is(h1,h2,h3) { margin-top: 0.4em;} */
		.markdown-preview-section > div.is-collapsed:has(h2) + div:has(h2) { margin-top: 0.4em;}
		.markdown-preview-section > div.is-collapsed:has(h3) + div:has(h3) { margin-top: 0.4em;}
		.markdown-preview-section > div.is-collapsed :is(h2) { margin-bottom: 0.8rem;}
		:is(li.is-collapsed + li.is-collapsed, li.is-collapsed + li) h3 { margin-top: 0; }


		/* -- margin for ul after headers. (1) Normal reading view, (2) Dataview lists, and (3) Inside callout */
		div:has([data-heading]) + div > ul,
		[data-heading] + div[class*="block-language-dataview"] ul,
		.callout-content [data-heading] + ul
			{ margin-top: 0; }


		/* -- margin (Reading View only) for (1) bottom of p, (2) p or codeblock/pre after ul/ol or headers */
		body {
			--lst-p-ul-margin: 0.4em;
		}
		.markdown-rendered p { margin-block-end: var(--lst-p-ul-margin); }
		.markdown-rendered blockquote > p + ul,
		.markdown-rendered div:has(p) + div:has(ul) > ul
			{ margin-block-start: var(--lst-p-ul-margin); }
		/* li p { margin-block: 0; } */
		:is(h1, h2) + p,
		div:has(> h1, > h2) + div:has(p) > p
			{ margin-block-start: 0.8em; }

		.markdown-rendered :is(h3, h4, h5, h6) + p,
		.markdown-rendered div:has(> h3, > h4, > h5, > h6) + div:has(p,pre) > :is(p,pre)
			{ margin-block-start: 0.6em; }



	/* === Header Border Decoration === */


		/* create border-bottom for headers not in lists */

		.markdown-rendered h2 {
			border-bottom: var(--h2-border-width) solid;
			border-image-slice: 1;
			border-image-source: linear-gradient(to right, color-mix(in lch, var(--h2-color) 60%, transparent), transparent);
		}
		.markdown-rendered h3 { border-bottom: var(--h3-border-width) solid color-mix(in lch, var(--h3-color) 50%, transparent); }



	/* === Markdown bold / strong === */
		/* :is(.cm-s-obsidian .cm-strong, b, strong) { color: var(--h1-color); } */
		body {
			--bold-weight: var(--font-bold);
			--bold-color: var(--h1-color);
		}


	/* === Markdown Highlights === */
		body.theme-dark {
			--text-highlight-bg: rgba(255, 208, 0, 0.3); /* rgba(255, 208, 0, 0.4); */
		}
		:is(*, .markdown-rendered) mark { color: var(--h1-color); border-radius: 0.2em; padding-inline: 0.2em; }


	/* === Tags / Hashtags === */
		body {
			--tag-size: 12px;				/* 11px for 14px normal font, else 12px for 15px */
			--tag-color: #111;
			--tag-radius: 0.6em;
			--tag-padding-y: 0.1em;
			--tag-padding-x: 0.5em;
			--tag-color-hover: #eee;
			--tag-bg-accent-hsl: 15, 72%, 70%;	/* DarkSalmon */
		}
		body:is(*,.is-mobile):is(.theme-light,.theme-dark) {
			/* for tag colors */
			--tag-background: hsla(var(--tag-bg-accent-hsl), 0.7);
			--tag-background-hover: hsla(var(--tag-bg-accent-hsl), 0.45);
		}

		.tag:not(.token) {
			background-image: none; /* to remove spell-error underline in hashtag */
		}


	/* === INTERNAL LINK === */
		body {
			--link-decoration: none;
		}


